.create-post {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.create-post .img-container {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-post img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.create-post input {
    width: 100%;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid grey;
    padding-left: 20px;
    transition: .2s;
}

.create-post input:hover {
    background-color: rgba(128, 128, 128, 0.15);
    cursor: pointer;
}

.create-post input:focus-visible {
    outline: none;
}

.create-post input::placeholder {
    font-size: 15px;
    font-weight: 500;
}


