.new-post {
  /* -------------Display-------------*/
  /* -------------Display-------------*/
  top: 100px;
  position: fixed;
  border-radius: 15px;
  width: 50%;
  max-width: 680px;
  background-color: white;
  border: solid rgb(188, 186, 186) 1px;
}
.new-post .creating-post p {
  font-size: 24px;
  font-weight: 500;
  padding-top: 30px;
  padding-left: 30px;
}

.new-post .creating-post {
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-bottom: solid rgb(230, 230, 230) 1px;
  position: relative;
}

.new-post .creating-post .icon-container {
  position: absolute;
  top: 25px;
  right: 30px;
  margin: 0;
}

.new-post .creating-post .icon-x {
  cursor: pointer;
  font-size: 42px;
}

.new-post .profile-info {
  margin-top: 2vh;
  padding: 0 30px;
  display: flex;
}
.new-post .profile-info .name {
  margin-left: 2vh;
}

.new-post .profile-info .name p {
  font-weight: 500;
}

.new-post .profile-info p {
  margin: 0;
  margin-bottom: 5px;
}

.new-post .profile-info img {
  object-fit: cover;
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
}

.new-post .profile-info .name .can-see {
  font-size: 14px;
  display: flex;
  box-shadow: inset 0 0 0 1px rgb(75, 74, 74);
  border: none;
  color: gray;

  border-radius: 20px;
  background-color: white;
}

.new-post .profile-info .name .can-see:hover {
  box-shadow: inset 0 0 0 2px rgb(75, 74, 74);
  background-color: #ebebeb;
}

.new-post .profile-info .name .icon-wold {
  position: relative;
  top: 4px;
  padding-left: 1px;
  padding-right: 1px;
}

.new-post .talk-about {
  padding: 0 30px;
}

.new-post .talk-about #input {
  cursor: text;
  border: none;
  outline: none;
  padding: 0;
}

.new-post .talk-about #input:focus {
  box-shadow: none;
}

.new-post .talk-about .file-input {
  margin-top: 35px;
}

#input[type="text" i] {
  padding: 0;
}
.new-post .talk-about #input::placeholder {
  font-weight: 400;
}

.talk-about {
  margin-top: 2vh;
  height: 20vh;
}

.new-post .hashtag {
  margin-top: 35px;
  padding: 0 30px;
  align-items: center;
}

.new-post .hashtag .moji {
  border-radius: 50%;
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  cursor: pointer;
}

.new-post .hashtag .moji .emoji {
  font-size: 22px;
}

.new-post .hashtag .moji:hover {
  border-radius: 50%;
  background-color: #dbdada;
}

.new-post .hashtag .add-hashtag {
  text-decoration: none;
  color: #0a66c2;
  font-weight: 600;
  display: flex;
  border-radius: 3px;
  transition: 0.2s;
}

.new-post .hashtag .add-hashtag span {
  padding: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}

.new-post .hashtag .add-hashtag span:hover {
  background-color: #0a66c215;
}

.new-post .add-to-your-post {
  justify-content: space-between;
  padding: 0 30px;
}

.new-post .extra {
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(204, 204, 204, 0.5);
  margin-bottom: 25px;
}

.new-post .icon-container {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  margin-right: 12px;
  transition: .2s;
  cursor: pointer;
}

.new-post .extra .extra-icons-post {
  color: rgb(112, 112, 112);
  font-size: 24px;
}

.new-post .extra .icon-container:last-child {
  transform: translateX(-5px);
}

.new-post .icon-container:hover {
  border-radius: 50%;
  background-color: #dbdada;
}

.new-post .submiting {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.new-post .add-to-your-post .submiting button {
  font-weight: 500;
  background-color: #0a66c2;
  padding: 3px 18px;
  color: white;
  border: none;
  border-radius: 30px;
}

.new-post .add-to-your-post .submiting .extra-icons-post {
  font-size: 24px;
}