.footer a {
  font-size: 0.75rem;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: none;
  color: rgb(121, 121, 121);
}

.footer a:hover {
  color: rgb(0, 140, 255);
  text-decoration: underline;
}

.footer {
  margin-top: 40px;
}

@media only screen and (min-width: 990px) and (max-width: 1135px) {
  .footer {
    margin-top: 60px;
  }
}

.footer .corporation .linkeIn {
  display: flex;
  justify-content: center;
}
.footer .corporation .linkeIn img {
  width: 70px;
}

.footer .corporation .linkeIn p {
  padding-top: 15px;
  font-size: 0.8rem;
}
#position-fixed-footer {
  top: 420px;
  right: 60px;
  position: fixed;
  width: 27%;
}

@media screen and (max-width: 992px) {
  #position-fixed-footer {
    top: 70px;
    right: 35px;

    width: 30%;
    display: none;
  }
}
