.post-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 0 20px;
    padding: 10px 0;
    color: #777;
    border-bottom: 1px solid rgba(204, 204, 204, 0.521);
}

.post-stats .likes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-stats .likes-container .icon-container {
    background-color: #0a66c2d2;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}

.post-stats .likes-container .icon-container .icon {
    color: white;
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.post-stats .likes-container:hover {
    color: #0a66c2;
}

.post-stats .likes-count:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-stats .comments-container .text:hover {
    color: #0a66c2;
    text-decoration: underline;
    cursor: pointer;
}