.post-description {
    padding: 0 20px;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    line-height: 20px;
}

.post-description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}