#leftSideBarStyle {
  width: 80%;
  margin-left: auto;
  overflow: hidden;
  color: rgb(98, 97, 97);
}
#profileBarStyle {
  width: 100%;
  border-radius: 15px;
  border: solid rgb(188, 186, 186) 1px;
  overflow: hidden;
  padding: 0;
  background-color: white;
}
.scrollListenerActive {
  position: fixed !important;
  top: 80px;
  width: 20px;
}
#profileInfoStyle {
  width: 100%;
  height: 50%;
  margin: 0;
}

#profileInfoMain {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
#profileInfoBackgroundImage {
  margin: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
}
#profileInfoBackgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#profileInfoPersonalImage {
  cursor: pointer;
  position: absolute;
  height: 80px;
  width: 80px;
  top: -40px;
  left: 50%;
  margin-left: -40px;
  background-color: #282c34;
  border-radius: 50%;
  border: solid white 2px;
  overflow: hidden;
}

#profileInfoPersonalImage img {
  width: 105%;
  object-fit: cover;
}
#profileInfoBody {
  margin: 0;
  position: relative;
  width: 100%;
  font-size: 14px;
  padding-top: 60px;
  padding-inline: 10%;
}
#profileInfoBody a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
#profileInfoBody a:hover {
  text-decoration: underline rgb(175, 100, 237);
  color: black;
}
#connectionAndInvsStyle {
  margin: 0;
  position: relative;
  width: 100%;
  font-size: 14px;
  padding: 10px;

  box-sizing: border-box;
  text-align: left;
}

.connectionAndInvs-linked:hover {
  background-color: rgb(238, 237, 237);
}
.connectionAndInvs-linked {
  display: flex;
  padding-inline: 6%;
  cursor: pointer;
  font-weight: 500;
  justify-content: space-between;
}
.connectionAndInvs-linkedf {
  height: 1.5em;
}
.connectionAndInvs-linkedm {
  cursor: pointer;
  color: black;
  justify-content: space-between;
}
#myElements {
  font-weight: 500;
  color: black;
}
.extrasStyle {
  cursor: pointer;
  margin: 0 !important;
  width: 100%;
  font-size: 14px;
  padding: 15px;
  padding-inline: 10%;
  text-align: left;
}
.extrasStyle:hover {
  background-color: rgb(238, 237, 237);
}
.extrasStyle a {
  color: black;
  font-weight: 500;
}

.leftSideBar-borderTop {
  margin: 0;
  border-top: solid rgb(208, 207, 207) 1px;
  width: 100%;
}
#connectionAndInvsStyle #bolder {
  font-weight: 500;
}
#discoverMoreStyle {
  background-color: white;
  margin-top: 10px;
  width: 100%;
  border-radius: 15px;
  border: solid rgb(188, 186, 186) 1px;
  overflow: hidden;
  padding: 0;
}
#buttons {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px;
}
#buttons:hover {
  background-color: rgb(238, 237, 237);
}
#buttons h5 {
  color: rgb(98, 97, 97);
}
#links {
  width: 100%;
  text-align: left;
  padding-inline: 10%;
}

#links a {
  text-decoration: none;
  font-weight: 500;
}

#links a:hover {
  text-decoration: underline;
}

.flex-row {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  margin-left: -3px;
}
.extrasStyle svg {
  color: rgb(98, 97, 97);
}
#flex-row-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#big-plus {
  height: 42px;
  width: 42px;
  text-align: center;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(98, 97, 97);
  cursor: pointer;
}
#big-plus:hover {
  background-color: rgb(238, 237, 237);
}

#position-fixed-sidebar {
  background-color: white;
  position: fixed;
  top: 70px;
  width: 18.5%;
  left: 80px;
  border-radius: 15px;
  border: solid rgb(188, 186, 186) 1px;
  overflow: hidden;
  padding: 0;
}
@media screen and (max-width: 1300px) {
  #position-fixed-sidebar {
    background-color: white;
    position: fixed;
    top: 100px;
    width: 20%;
    left: 40px;
    border-radius: 15px;
    border: solid rgb(188, 186, 186) 1px;
    overflow: hidden;
    padding: 0;
  }
}
@media screen and (max-width: 1130px) {
  #position-fixed-sidebar {
    background-color: white;
    position: fixed;
    top: 100px;
    width: 20%;
    left: 50px;
    border-radius: 15px;
    border: solid rgb(188, 186, 186) 1px;
    overflow: hidden;
    padding: 0;
  }
}

@media screen and (max-width: 980px) {
  #position-fixed-sidebar {
    background-color: white;
    position: fixed;
    top: 100px;
    width: 25%;
    left: 50px;
    border-radius: 15px;
    border: solid rgb(188, 186, 186) 1px;
    overflow: hidden;
    padding: 0;
  }
}
@media screen and (max-width: 860px) {
  #position-fixed-sidebar {
    background-color: white;
    position: fixed;
    top: 100px;
    width: 25%;
    left: 50px;
    border-radius: 15px;
    border: solid rgb(188, 186, 186) 1px;
    overflow: hidden;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  #leftSideBarStyle {
    display: none !important;
  }
}
