.feed {
  margin-bottom: 1.5vh;
}

.body {
  display: flex;
  flex-direction: row;
}

.body img {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
}

.body a {
  text-decoration: none;
}

.body p {
  color: black;
  margin: 0;
  text-align: left;
}

.body .gray {
  color: rgba(158, 158, 158, 0.836);
  font-size: 0.8rem;
}

.body .btn-section {
  margin-left: 2vh;
}

.body .btn-section .button {
  margin-top: 1vh;
}

.body .btn-section button {
  display: flex;
  box-shadow: inset 0 0 0 1px rgb(75, 74, 74);
  border: none;
  color: gray;
  padding-right: 1rem;
  border-radius: 20px;
  background-color: white;
}

.body .btn-section .button .plus {
  font-size: 25px;
  color: rgb(85, 84, 84);
}

.body .btn-section button:hover {
  box-shadow: inset 0 0 0 2px rgb(75, 74, 74);
  background-color: #ebebeb;
}
